@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Sora:wght@400;500;600&display=swap');

body {
  font-family: 'Inter', 'Sora', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
/* Hide scrollbar track but show a subtle thumb */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4B5563; /* Tailwind's gray-600 */
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4B5563 transparent;
}
.skills-container img {
  filter: brightness(0) saturate(100%);
}